<html>
    <body>
    <form method='POST'>
    <div>
    Imię: <input type='text' name='name' />
    </div>
    <div>
    Nazwisko: <input type='text' name='surname' /> 
    </div>
    Przedmiot: <input type='text' name='subject' />
    <% for ( var i=1; i<=10; i++ ) { %>
        <div>
        Zadanie <%= i %>: <input type='number' name='ex<%= i %>' value = 0/> 
        </div>
    <% } %>
    <div>
    
    <button>Drukuj</button>
    </div>
    </form>
    </body>
    </html>