<html>
    <body>
      <form method="POST">
        <div>
           Login: <input type='text' name='txtUser' />
        </div>
        <div>
           Password: <input type='password' name='txtPwd' /> 
        </div>
        <div>
           <button>Login</button>
        </div>
      </form>
    </body>
    </html>		